@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 10px;  
}

/* Track */
::-webkit-scrollbar-track {  
  background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(33, 0, 133);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(25, 0, 99);
}
