.homeContainer{
    background-image: url('https://img.freepik.com/vector-premium/fondo-vector-abstracto-futurista-oscuro-hexagono-tecnologia-destellos-brillantes-color-rosa-azul-debajo-hexagono-fondo-abstracto-hexagonal-panal-juegos_156943-959.jpg');
    width: 100%;  
    min-height: 100vh;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */    
}